@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    font-size: $text-base;
    line-height: 1.5;
    color: $white;
    background: $dark;
    @include scrollbar;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input, textarea, select {
    background: transparent;
    border: none;
    width: 100%;
    
    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}